{
  "$source": "https://github.com/keinsell/neuronek/blob/9c48ddb0be0eb4500eea98a10a12d2b899fcaaa7/packages/prettier-config/index.js",
  "$schema": "http://json.schemastore.org/prettierrc",
  "trailingComma": "all",
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "singleQuote": true,
  "printWidth": 120,
  "quoteProps": "consistent",
  "jsxSingleQuote": true,
  "bracketSpacing": true,
  "jsxBracketSameLine": true,
  "bracketSameLine": true,
  "arrowParens": "always",
  "proseWrap": "always",
  "htmlWhitespaceSensitivity": "css",
  "endOfLine": "lf"
}
